@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
.row-header {
  margin: 0 auto;
  padding: 0 0;
  padding: 0; }

.html {
  margin: 0 auto;
  padding: 0 0;
  width: 100%; }

.row-content {
  margin-top: 3%;
  max-height: 100%;
  font-family: Roboto;
  font-weight: 350;
  color: #707070;
  text-align: center;
  font-size: 1.5em;
  padding-top: 5%;
  padding-right: 13%;
  padding-bottom: 5%;
  padding-left: 13%; }

.footer {
  background-color: #00AFE6;
  margin: 0 auto;
  padding: 0 0;
  font-size: 100%;
  color: white;
  padding: 1.5% 0 1.5% 0;
  text-align: center; }

body {
  margin: 0 auto;
  padding: 0 0; }

.jumbotron {
  margin: 0 auto;
  padding: 0 0;
  background: linear-gradient(45deg, #00AFE6, #005DAC);
  color: #FFFFFF;
  overflow: hidden; }

.jumbotron .jumbotron-img {
  position: relative;
  min-width: 130%;
  max-width: 130%;
  height: auto;
  right: -10%;
  bottom: -14%;
  /* Set left edge of inner element to 50% of the parent element */
  margin-left: 0%;
  margin-top: -10%;
  /* Move down by 30% of own width */
  object-fit: cover; }

.jumbotron .jumbotron-logo {
  position: relative;
  max-height: 100%;
  margin-top: 5%; }

.jumbotron-text {
  position: relative;
  padding-top: 20%;
  display: table-cell;
  font-size: 3em; }

#carousel-button {
  right: 0px;
  position: absolute;
  bottom: 0px; }
