@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@font-face {
  font-family: helvetica;
  src: url("../fonts/helvetica-lt-std/helvetica-lt-std-roman.otf"); }

.mainLoginInput::-webkit-input-placeholder {
  font-family: Roboto;
  color: #ACACAC;
  font-size: 0.8em; }

.mainLoginInput:-ms-input-placeholder {
  font-family: Roboto;
  color: #ACACAC;
  font-size: 0.8em; }

.mainLoginInput:-moz-placeholder {
  font-family: Roboto;
  color: #ACACAC;
  font-size: 0.8em; }

.mainLoginInput::-moz-placeholder {
  font-family: Roboto;
  color: #ACACAC;
  font-size: 0.8em; }

.row-header {
  margin: 0 auto;
  padding: 0 0;
  padding: 0;
  height: 40%; }

.html {
  margin: 0 auto;
  padding: 0 0;
  width: 100%; }

.row-content {
  margin-top: 5%;
  max-height: 100%;
  font-family: Roboto;
  font-weight: 350;
  color: #707070;
  text-align: center;
  font-size: 1.6em;
  padding-top: 5%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-left: 10%;
  overflow: hidden; }

.footer {
  background-color: #00AFE6;
  font-size: 100%;
  color: white;
  padding: 1.5% 10% 1.5% 10%;
  text-align: center;
  background-image: url("../img/logo-footer.png");
  background-position-x: 98%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: 3% contain; }

body {
  margin: 0 auto;
  padding: 0 0; }

.jumbotron {
  margin: 0 auto;
  padding: 0 0;
  background: linear-gradient(45deg, #00AFE6, #005DAC);
  color: #FFFFFF;
  overflow: hidden;
  font-family: helvetica;
  width: 100%;
  height: 100%;
  min-height: 120%; }

.jumbotron .jumbotron-img {
  position: relative;
  min-width: 120%;
  height: auto;
  right: -10%;
  bottom: -14%;
  margin-top: -10%; }

.jumbotron .jumbotron-logo {
  position: relative;
  max-height: 100%;
  margin-top: 5%; }

.jumbotron-text {
  position: relative;
  padding-top: 17%;
  display: table-cell;
  font-size: 3rem; }

#carousel-button {
  right: 0px;
  position: absolute;
  bottom: 0px; }

.smiling-face {
  position: relative;
  left: 0%;
  display: inline-block;
  height: auto; }

.mascote-container {
  background-image: url("../img/mascote.png");
  background-position-x: 0;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-size: 25% auto; }

.submit-button {
  background-color: #00AFE6;
  border-color: #00AFE6;
  padding-left: 25%;
  padding-right: 25%;
  font-family: Roboto;
  font-weight: 380;
  font-size: 0.6em; }

.modal-header {
  border: none; }

img.modal-title {
  position: center;
  margin-bottom: 15%;
  margin-top: 0%;
  position: relative;
  left: 0%;
  min-width: 40%; }

.modal-body {
  font-family: Roboto;
  font-weight: 350;
  color: #707070;
  text-align: center;
  font-size: 1.5em;
  background-image: url("../img/mascote.png");
  background-position-x: 0;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-size: 30% auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 25%; }

@media (min-width: 768px) {
  .modal {
    text-align: center; }
    .modal:before {
      content: '';
      height: 100%;
      width: 1px;
      display: inline-block;
      vertical-align: middle; }
    .modal .modal-dialog {
      text-align: left;
      margin: 10px auto;
      display: inline-block;
      vertical-align: middle; } }
