$lt-blue: #00AFE6;
$dk-blue: #005DAC;
$gradient-angle: 45deg;
$white: #FFFFFF;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin: auto;
	padding: $pad-up-dn $pad-left-right;
}

.row-header{
    @include zero-margin(0,0);
    padding: 2% 0 2% 0;
} 

.html{
    @include zero-margin(0,0);
    width:100%;
} 

.row-content {
    @include zero-margin(0, 0);
    max-height:100%;
}

.footer{
    background-color: $lt-blue;
    @include zero-margin(0,0);
}

body{
    @include zero-margin(0,0);
}

.jumbotron {
    @include zero-margin(0,0);
    background: linear-gradient($gradient-angle, $lt-blue, $dk-blue);
    color:$white;
}

.jumbotron {
   .jumbotron-img-1 {
        position: relative;
        max-width: 100%;
        height: auto;
    };
    .jumbotron-img-2 {
        position: relative;
        max-width: 100%;
        height: auto;
        top: 12%;
    };
    .jumbotron-logo {
        position: relative;
        max-height: 100%;
        top:5%;
    }
    p {
        max-width: 100%;
        font-size: 200%;
        font-family: 'Helvetica LT Std, Roman'; 
    }
}

.jumbotron-text {
    text-align: center;
    font-size: 2em;
    vertical-align: middle;
    margin: auto;
}

#carousel-button {
    right:0px;
    position: absolute;
    bottom: 0px;
}
